<!DOCTYPE html>{% load static %}{% load plausible %}
<html lang="fi">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Resepti</title>
    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <!-- Favicon from Freepik - https://www.flaticon.com/free-icons/spoon -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/litera/bootstrap.min.css"
          integrity="sha512-bKFHl04NnBGpTyxFreApJzGG6ikCFJUZU0nBpEwPS9fbe0g+OTL2lJVc3fRNh5Q7bQtP8tYjefsJTwywPtgpyg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>

<nav class="navbar navbar-dark navbar-expand-sm bg-primary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'recipe:landing-page' %}">
            <img src="{% static 'favicon-32x32.png' %}" alt="Logo" width="30" height="24"
                 class="d-inline-block align-text-top">
            Resepti
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">


            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == "recipe:landing-page" %} active {% endif %}"
                       aria-current="page" href="{% url 'recipe:landing-page' %}">Etusivu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == "recipe:info" %} active {% endif %}"
                       aria-current="page" href="{% url 'recipe:info' %}">Tietoa</a>
                </li>
            </ul>

            <form class="d-flex" role="search" method="get" action="{% url 'recipe:search' %}">
                <input class="form-control me-2" type="search" placeholder="Hae" aria-label="Search" name="q">
                <button class="btn btn-outline-light" type="submit">Hae</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<h1>&nbsp;</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
        integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% plausible %}

</body>

</html>
