<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Resepti</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/litera/bootstrap.min.css"
          integrity="sha512-bKFHl04NnBGpTyxFreApJzGG6ikCFJUZU0nBpEwPS9fbe0g+OTL2lJVc3fRNh5Q7bQtP8tYjefsJTwywPtgpyg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>

<nav class="navbar navbar-dark navbar-expand-lg bg-primary mb-3">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{% url 'recipe:landing-page' %}">Resepti</a>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'recipe:landing-page' %}">Etusivu</a>
                </li>
                <!--
<li class="nav-item">
	<a class="nav-link" href="#">Link</a>
</li>
-->
            </ul>

            <form class="d-flex" role="search" method="get" action="{% url 'recipe:search' %}">
                <input class="form-control me-2" type="search" placeholder="Hae" aria-label="Search" name="q">
                <button class="btn btn-outline-light" type="submit">Hae</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<h1>&nbsp;</h1>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
        integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>
