<!DOCTYPE html>{% load static %}{% load plausible %}
<html lang="fi" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Resepti</title>
        <meta property="og:title" content="Resepti"/>
    {% endblock %}
    <script src="{% static 'bs-color-mode-toggler.js' %}"></script>
    <meta property="og:description" content="Nälkäisenä tämäkin idea syntyi"/>
    <meta property="og:image" content="https://resepti.didnot.win/static/android-chrome-192x192.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <!-- Favicon from Freepik - https://www.flaticon.com/free-icons/spoon -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/litera/bootstrap.min.css"
          integrity="sha512-FAKbqNc1K2O4cnjyyiTs7loU3hwtcTF5y59TnJMcPJK/fbzY8kJaMGak8/Nsg5VL9CLiUf7M06ct+mleM2UnwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
</head>
<body>

<nav class="navbar navbar-dark navbar-expand-sm bg-primary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'recipe:landing-page' %}">
            <img src="{% static 'favicon-32x32.png' %}" alt="Logo" width="24" height="24"
                 class="d-inline-block align-text-top me-1">
            Resepti
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">


            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == "recipe:landing-page" %} active {% endif %}"
                       aria-current="page" href="{% url 'recipe:landing-page' %}">Etusivu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == "recipe:info" %} active {% endif %}"
                       aria-current="page" href="{% url 'recipe:info' %}">Tietoa</a>
                </li>
            </ul>

            <form class="d-flex" role="search" method="get" action="{% url 'recipe:search' %}">
                <input class="form-control me-2" type="search" placeholder="Hae" aria-label="Search" name="q">
                <button class="btn btn-outline-light" type="submit">Hae</button>
            </form>
            <ul class="navbar-nav ms-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false"><i class="fas fa-sun"></i></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <button class="dropdown-item" data-bs-theme-value="light"><i class="fas fa-sun"></i>
                            Vaalea teema
                        </button>
                        <button class="dropdown-item" data-bs-theme-value="dark"><i class="fas fa-moon"></i>
                            Hämärä teema
                        </button>
                        <button class="dropdown-item" data-bs-theme-value="auto"><i
                                class="fas fa-magic"></i> Automaattinen
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mb-4">
    {% block content %}
    {% endblock %}
</div>

<script async src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
        integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% plausible %}

</body>

</html>
