{% extends 'recipe/base.html' %}

{% block title %}
    <title>Tietoa | Resepti</title>
    <meta property="og:title" content="Tietoa | Resepti"/>
{% endblock %}

{% block content %}
    <h3>Tietoa</h3>
    <p>Nälkäisenä tämäkin idea syntyi.</p>
    <p>Lähdekoodi: <a href="https://github.com/T-101/resepti">Github</a></p>

    <div class="row mb-3">
        <div class="col-sm-6 col-md-5 col-lg-4">
            <ul class="list-group">
                <li class="list-group-item active disabled" aria-current="true">TOP 15 Raaka-aineet</li>
                {% for item in ingredients|slice:":15" %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'recipe:ingredient-detail' item.ingredient__slug %}">{{ item.ingredient__name|capfirst }}</a>
                        <span class="badge bg-primary rounded-pill">{{ item.count }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4">
            <ul class="list-group">
                <li class="list-group-item active disabled" aria-current="true">Bottom 15 Raaka-aineet</li>
                {% for item in ingredients reversed %}
                    {% if forloop.counter <= 15 %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'recipe:ingredient-detail' item.ingredient__slug %}">{{ item.ingredient__name|capfirst }}</a>
                            <span class="badge bg-primary rounded-pill">{{ item.count }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-6 col-md-5 col-lg-4">
            <ul class="list-group">
                <li class="list-group-item active disabled" aria-current="true">Kävijatietoja</li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Sivulatauksia
                    <span id="pageViews" class="badge bg-primary rounded-pill">0</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Vieralijoita
                    <span id="visitors" class="badge bg-primary rounded-pill">0</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Vierailuita
                    <span id="visits" class="badge bg-primary rounded-pill">0</span>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4">
            <ul class="list-group">
                <li class="list-group-item active disabled" aria-current="true">Ohjelmatietoja</li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="https://www.python.org">
                        <i class="ti ti-brand-python"></i>&nbsp;&nbsp;Python</a>
                    <span class="badge bg-primary rounded-pill">{{ python_version }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="https://www.djangoproject.com">
                        <i class="ti ti-brand-django"></i>&nbsp;&nbsp;Django</a>
                    <span class="badge bg-primary rounded-pill">{{ django_version }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="https://bootswatch.com/litera/">
                        <i class="ti ti-brand-bootstrap"></i>&nbsp;&nbsp;Bootswatch</a>
                    <span class="badge bg-primary rounded-pill">{{ bootswatch_version }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="https://github.com/tabler/tabler-icons">
                        <i class="ti ti-brand-tabler"></i>&nbsp;&nbsp;Tabler Icons</a>
                    <span class="badge bg-primary rounded-pill">{{ tablericons_version }}</span>
                </li>
            </ul>
        </div>
    </div>

    <script>
        fetch("https://p.didnot.win/stats_api").then(res => res.json()).then(j => {
            document.getElementById("pageViews").innerText = j.alltime.results.pageviews.value
            document.getElementById("visitors").innerText = j.alltime.results.visitors.value
            document.getElementById("visits").innerText = j.alltime.results.visits.value
        })
    </script>

{% endblock %}
