{% extends 'recipe/base.html' %}

{% block title %}
    <title>{{ object }}</title>

{% endblock %}

{% block content %}

    <div class="row mb-2">
        <div class="col">
            <h3>{{ object }}</h3>
        </div>
        <div class="col">
            <div class="float-end float-sm-start">
                <a class="btn btn-sm btn-primary"
                   href="{% url 'recipe:types' object.recipe_class.slug %}">{{ object.recipe_class }}</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">

            {% if object.picture %}
                <img src="{{ object.picture.url }}" class="img-fluid mb-2" alt="{{ object.name }}">
            {% endif %}
            {{ object.instructions | linebreaks }}
        </div>
        <div class="col-sm-6">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Määrä</th>
                    <th scope="col">Aines</th>
                </tr>
                </thead>
                <tbody>

                {% for item in object.recipe_tables.all %}

                    <tr>
                        <th scope="row">{{ item.ingredient_amount.normalize | default_if_none:"" }}
                            {{ item.ingredient_unit.unit | default_if_none:"" }}</th>
                        <td>{{ item.ingredient }}</td>
                    </tr>


                {% endfor %}

                </tbody>
            </table>

        </div>

    </div>
{% endblock %}
