{% extends 'recipe/base.html' %}

{% block title %}
    <title>{{ object }} | Resepti</title>
    <meta property="og:title" content="{{ object }} | Resepti"/>
{% endblock %}

{% block opengraph %}
    <meta property="description" content="{{ object }}"/>
    <meta property="og:description" content="{{ object.instructions | truncatechars:157 }}"/>
    {% if object.picture %}
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ object.picture.url }}"/>
    {% endif %}



    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ request.get_host }}">
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:title" content="{{ object }} | Resepti">
    <meta name="twitter:description" content="{{ object.instructions | truncatechars:157 }}">
    {% if object.picture %}
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ object.picture.url }}">
    {% endif %}

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

{% endblock %}

{% block content %}

    <div class="row mb-2">
        <div class="col">
            <h3>{{ object }}</h3>
        </div>
        <div class="col">
            <div class="float-end float-sm-start">
                <a class="btn btn-sm btn-primary"
                   href="{% url 'recipe:types' object.recipe_class.slug %}">{{ object.recipe_class }}</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {% if object.picture %}
                <img src="{{ object.picture.url }}" class="img-fluid mb-2" alt="{{ object.name }}">
            {% endif %}
            {{ object.instructions | linebreaks }}
        </div>
        <div class="col-sm-6">
            {% if object.recipe_tables.count %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Määrä</th>
                        <th scope="col">Aines</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in object.recipe_tables.all %}

                        <tr>
                            <th scope="row">{{ item.ingredient_amount.normalize | default_if_none:"" }}
                                {{ item.ingredient_unit.unit | default_if_none:"" }}</th>
                            <td>{{ item.ingredient }}</td>
                        </tr>


                    {% endfor %}

                    </tbody>
                </table>
            {% endif %}
        </div>

    </div>
{% endblock %}
